<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XSD2HTML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.web>
    <compilation debug="false" targetFramework="4.0" />
</system.web>
    <userSettings>
        <XSD2HTML.Properties.Settings>
            <setting name="CanGenerate" serializeAs="String">
                <value>True</value>
            </setting>
        </XSD2HTML.Properties.Settings>
    </userSettings>
</configuration>